@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*Colors*/
:root{
  --beige-500: #98908B;
  --beige-100: #F8F4F0;

  --grey-900: #201F24;
  --grey-500: #696868;
  --grey-300: #B3B3B3;
  --grey-100: #F2F2F2;

  --green: #277C78;
  --yellow: #F2CDAC;
  --cyan: #82C9D7;
  --navy: #626070;
  --red: #C94736;
  --purple: #826CB0;
  
  --purple-light: #AF81BA;
  --turquoise: #597C7C;
  --brown: #93674F;
  --magenta: #934F6F;
  --blue: #3F82B2;
  --navy-grey: #97A0AC;
  --army-green: #7F9161;
  --gold: #CAB361;
  --orange: #BE6C49;

  --white: white;
}

/*text-preset-classes*/

.text-preset-1{
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}

.text-preset-2{
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}

.text-preset-3{
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}

.text-preset-4{
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
}

.text-preset-4-bold{
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}

.text-preset-5{
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
}

.text-preset-5-bold{
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
  font-weight: bold;
  font-family: "Public Sans", sans-serif;
}


/*Default*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*Body*/

body{
  background-color: var(--beige-100);
  width: 100%;
}

/*AuthLayout*/

#auth-layout{
  height: 100vh;

  display: flex;
}

#auth-layout-picture-container{
  padding: 20px;
  display: flex;
}

#auth-layout-picture{
  position: relative;
  display: flex;
}

#auth-logo{
  position: absolute;
  top: 40px;
  left: 40px;
}

#auth-illustration{
  border-radius: 12px;
  height: 100%;
  width: auto;

}

#auth-layout-text{
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: absolute;
  bottom: 40px;
  left:40px;
  right: 40px;
  color: var(--white);
}

/*Auth*/

.auth-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding-inline: 16px;
}

.auth{
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  padding: 32px;

}

/*Auth inputs field*/

.auth-inputs{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.auth-input-div{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--grey-500);
}

.auth-input{
  border: 2px solid var(--beige-500);
  border-radius: 8px;
  padding: 12px 20px;
  transition: border-color ease 0.4s, background-color ease 0.4s;
}
.auth-password-div{
  border: 2px solid var(--beige-500);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  padding-right: 20px;
  align-items: center;
  transition: border-color ease 0.4s, background-color ease 0.4s;
}

.auth-input:focus, .auth-password-div:has(.auth-input-password:focus){
  border-color: var(--grey-900);
  background-color: var(--beige-100);
  outline: none;
}

.auth-input-password{
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px 0px 12px 20px;
  flex-grow: 1;
  transition: background-color ease 0.4s;
}

.auth-input-password:focus{
  background-color: var(--beige-100);
}

.password-requirement-text{
  display: flex;
  justify-content: flex-end;
  color: var(--grey-500);
}



/*Hide btn*/

.hide-password-div{
  position: relative;
  display: flex;
  align-items: center;
}

.hide-password-input{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.hide-password-label:hover{
  cursor: pointer;
}

.hide-password-label{
  width: 16px;
  height: 16px;
}

/*Submit btn*/

.auth-btn{
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--grey-900);
  color: var(--white);
  justify-content: center;
  border: 1px solid var(--white);
  transition: background-color ease 0.3s, border-color ease 0.3s, color ease 0.3s;
}

.auth-btn:hover{
  cursor: pointer;
  background-color: var(--beige-100);
  border-color: var(--grey-900);
  color: var(--grey-900)
}

/*Under text and Link element*/

.link-text{
  display: flex;
  align-self: center;
  gap: 8px;
  color: var(--grey-500);
}

.link-text > a{
  color: var(--grey-900)
}

/*Error text*/

.error-text{
  margin-left: auto;
  color :var(--red);
  font-weight: bold;
}

input.error-input, .error-input, div.error-input{
  border-color: var(--red);
}


/*Home Layout*/

#home-layout{
  display: flex;

}

/*Navbar*/

.navbar{
  display: flex;
  flex-direction: column;
  background-color: var(--grey-900);
  color: var(--grey-300);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  height: 100vh;
  width: 300px;
  flex-shrink: 0;
  gap: 24px;
  padding-bottom: 40px;
}

#navbar-logo{
  margin: 40px 32px;
  width: 121px;
}

#navbar-items{
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-right: 24px;
  transition: padding-right ease 0.3s;
}

.navbar-item{
  display: flex;
  padding: 16px 32px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  gap: 16px;
  align-items: center;
  transition: color ease 0.3s;
  border-left: 4px solid transparent;
  transition: background-color ease 0.3s;
}


.navbar-item:hover, #navbar-btn:hover{
  cursor: pointer;
  color: var(--grey-100);
}

a.selected-navbar-item{
  background-color: white;
  color: var(--grey-900);
  border-color: var(--green);
}

a.selected-navbar-item > svg{
  color: var(--green)
}

#navbar-btn{
  position: relative;
  padding: 16px 32px;
  display: flex;
  gap: 16px;
  align-items: center;
  transition: color ease 0.3s;
  margin-top: auto;
}

#navbar-check-input{
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/*Minimized Navbar*/

.navbar{
  transition: width ease 0.5s;
  overflow: hidden;
}

.minimized{
  width: 88px;
  min-width: 88px;
  overflow: hidden;
}

.navbar h1{
  transition: opacity ease 0.5s;
  white-space: nowrap;
}

.minimized h1 {
  opacity: 0;

}

.minimized #navbar-items{
  padding-right: 12px;
}

.minimized #navbar-items .selected-navbar-item svg{
  color: var(--grey-900);
}

.minimized > #navbar-logo{
  width: 12.5px;
  height: 21.81px;
}

.navbar svg{
  min-width: 24px;
}

#navbar-btn {
  transition: transform ease 0.5s;
}

.minimized #navbar-btn {
  transform: rotate(-180deg);
}

a{
  text-decoration: none;
  color: inherit;
}

/* Transactions*/

.page-container{
  padding: 32px 40px;
  flex: 1;
}

.transactions{
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.transactions > h1{
  color: var(--grey-900);
}

.transactions-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px; 
  background-color: var(--white);
  width: 100%;
  border-radius: 12px;
}

.transactions-header{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.transactions-searchbar-container{
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  border: 1px solid var(--beige-500);
  padding-right: 12px;
}

#transactions-searchbar{
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}

#transactions-searchbar:focus{
  outline: none;
}

#transactions-sorts{
  display: flex;
  gap: 24px;
}


.sort-container{
  color: var(--grey-500);
  display: flex;
  align-items: center;
  gap: 8px;
}

/*Custom Select*/

.custom-select{
  position: relative;
} 

.select-btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 12px 12px 20px;
  border: 1px solid var(--beige-500);
  border-radius: 8px;
  color: var(--grey-900);
}

.select-btn:hover{
  cursor: pointer;
}

.custom-select-options{
  background-color: var(--white);
  position: absolute;
  width: 100%;
  top: calc(100% + 16px);
  left: 0px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;
  max-height:  300px ;
  overflow-y: auto;
  scroll-behavior: smooth;
  z-index: 1000;

  /*Hides scrollbar*/
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}



.show-options{
  opacity: 1;
  pointer-events: all;
}

.option-container > div{
  padding: 12px 20px;
}

.option-container > div:hover{
  cursor: pointer;
}

.option-container > hr{
  width: 70%;
  margin: auto;
  border: none;
  border-top: 1px solid var(--grey-100);
}

.option-container:last-child > hr{
  display: none;
}

.option-content{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
}

.current-selected-text{
  font-weight: bold;
  color: var(--grey-900)
}

#sort{
  width: 114px;
}

#category{
  width: 177px;
}

/*Transactions-table*/

.transactions-table{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.transactions-list{
  display: flex;
  flex-direction: column;

}

.transactions-separator{
  margin-block: 16px;
  border: none;
  border-top: 1px solid var(--grey-100);
  width: 100%;
}

.transactions-line{
  padding: 0px 16px;
  display: flex;
  gap: 32px;
  align-items: center;
  color: var(--grey-500);
}

.transactions-table-header{
  padding: 12px 16px;
  border-bottom: 1px solid var(--grey-100);
}


.transactions-name{
  display: flex;
  gap: 16px;
  align-items: center;
  flex: 50;
}

.transactions-name > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.transactions-name > p{
  color: var(--grey-900)
}

.transactions-category{
  flex: 14;
  max-width: 120px;
}

.transactions-date{
  flex: 14;
  max-width: 120px;
}

.transactions-amount{
  flex: 22;
  max-width: 200px;
}

/*Transactions-footer*/

#transactions-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-page-btn{
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid var(--beige-500);
  gap: 16px;
  color: var(--grey-900);
  transition: color ease 0.3s, background-color ease 0.3s;
  height: 40px;
}

.change-page-btn > svg{
  color: var(--beige-500);
  transition: color ease 0.3s;
}

.change-page-btn:hover{
  cursor: pointer;
  background-color: var(--beige-500);
  color: white;
}

.change-page-btn:hover > svg{

  color: white;
}

.page-btns{
  display: flex;
  gap: 8px;
}

.transactions-page-btn{
  width: 40px;
  height: 40px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--beige-500);
  color: var(--grey-900);
  transition: color ease 0.3s, background-color ease 0.3s;
}


.transactions-page-btn:hover{
  cursor: pointer;
  background-color: var(--beige-500);
  color: white;
}

.selected-transactions-page{
  color: var(--white);
  background-color: var(--grey-900);
}

/*pots*/

#pots{
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

.pots-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pots-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.new-pot-btn{
  background-color: var(--grey-900);
  color: var(--white);
  padding: 16px;
  border-radius: 8px;
  transition: background-color ease 0.3s;
  border: none;
}

.new-pot-btn:hover{
  cursor: pointer;
  background-color: var(--grey-500);
}

/*pot*/

.pot{
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--white);
  border-radius: 12px;
  gap: 32px;
}

.pot-header{
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-900)
}

.circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.modify-btn-container {
  margin-left: auto;
  color: var(--grey-300);
  position: relative;
}

.modify-btn-container > svg:hover{
  cursor: pointer;
}

.modify-btn{
  position: absolute;
  right: 0px;
  top: calc(100% + 16px);
  width: 114px;
  display: flex;
  flex-direction: column;
  padding: 12px 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  z-index: 1;
  background-color: var(--white);
  opacity: 0;
  pointer-events: none;
  transition: opacity ease 0.3s;
}


.modify-btn > p:first-of-type{
  color: var(--grey-900);
}

.modify-btn > p:last-of-type{
  color: var(--red);
}

.modify-btn > hr{
  margin-block: 12px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-100);
}

.show-modify-btn{
  opacity: 1;
  pointer-events: all;
}

.show-modify-btn > p:hover{
  cursor: pointer;
}

.pot-content{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.pot-total{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--grey-500);
}

.pot-total > p:last-of-type{
  color: var(--grey-900);
}

.pot-target-container{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.pot-target-bar-container{
  border-radius: 4px;
  width: 100%;
  background-color: var(--beige-100);
  height: 8px;
}

.pot-target-bar-filler{
  border-radius: 4px;
  height: 8px;
}

.pot-target-desc{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-500)
}

.pot-inputs{
  display: flex;
  gap: 16px;
}

.pot-btn{
  background-color: var(--beige-100);
  color: var(--grey-900);
  padding: 16px;
  display: flex;
  flex: 1;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--beige-100);
  transition: border-color ease 0.3s, background-color ease 0.3s;
}

.pot-btn:hover{
  cursor: pointer;
  border-color: var(--grey-900);
  background-color: var(--white);
}

/*Edit Popup and more*/

.popup-window{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 560px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  padding: 32px;
  z-index: 2;
}

.popup-window-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-900);
}

.popup-window-header > svg{
  color: var(--grey-500);
  transition: color ease 0.3s;
}

.popup-window-header > svg:hover{
  cursor: pointer;
  color: var(--red);
}

.popup-window-desc{
  color: var(--grey-500);
}

.popup-window-inputs-div{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.popup-window-input-div{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: var(--grey-500);
}

.popup-window-input{
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  color: var(--grey-900);
}

.letters-tracker{
  margin-left: auto;
}

.popup-window-input:focus{
  outline: none;
}

.popup-window-input-div > .error-text, .popup-window-subtext > .error-text{
  margin-left: 0;
}

.popup-window-subtext{
  display: flex;
  justify-content: space-between;
}


.popup-window-input-dollar-container{
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  color: var(--grey-900);
  display: flex;
  gap: 12px;
}

.popup-window-input-dollar-container> p{
  color: var(--grey-300)
}

.popup-window-input-dollar{
  border: none;
  flex: 1;
  outline: none;
}

.popup-window-submit-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  background-color: var(--grey-900);
  color: var(--white);
  border: 1px solid var(--grey-900);
  transition: background-color ease 0.3s, color ease 0.3s;
}

.popup-window-submit-btn:hover{
  cursor: pointer;
  background-color: var(--white);
  color: var(--grey-900)
}

.backdrop{
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  content: "";
  background-color: black;
  z-index: 1;
}

.already-used > p{
  color: var(--grey-500);
}

.already-used > p:last-of-type{
  margin-left: auto;

}

.already-used > .circle{
  opacity: 0.1;
}

.select-btn > div > .already-used > p:last-of-type{
  display: none;
}

.select-btn > div > .already-used > .circle{
 opacity: 1;
}

.select-btn > div > .already-used > p{
  color: var(--grey-900)
}


/*Delete Pot*/

.delete-pot > p{
  color: var(--grey-500)
}


.delete-pot-btn{
  background-color: var(--red);
  color: white;
  padding: 16px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity ease 0.3s;
}

.delete-pot-btn:hover{
  cursor: pointer;
  opacity: 0.7;
}

.cancel-delete-pot-btn{
  border: none;
  background-color: transparent;
  color: var(--grey-500);
  transition: color ease 0.3s;
  margin: auto;
}

.cancel-delete-pot-btn:hover{
  cursor: pointer;
  color :var(--grey-900);
}

/*Withdraw */

.withdraw-filler-container{
  display: flex;
}

.withdraw-bar-filler-old{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  height: 8px;
  transition: width ease 0.3s;
}

.withdraw-bar-filler-gap{
  height: 8px;
  transition: width ease 0.3s;
}

.withdraw-bar-filler-new{
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 8px;
  transition: width ease 0.3s;
}

/*Recurring bills*/

.recurring-bills{
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.recurring-bills-container{
  display: flex;
  gap: 24px;
}

.recurring-bills-info-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 3;
}

.recurring-bills-total-container{
  background-color: var(--grey-900);
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: white;
}

.recurring-bills-total{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.recurring-bills-summary-container{
  color: var(--grey-900);
  padding: 20px;
  border-radius: 12px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recurring-bills-summary{
  display: flex;
  flex-direction: column;
}

.recurring-bills-summary > hr{
  opacity: 0.15;
  margin-block: 16px;
  border: none;
  border-top: 1px solid #696868;
}

.recurring-bills-summary-element{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recurring-bills-summary-element>p:first-of-type{
  color: var(--grey-500);
}

.recurring-bills-summary-element>p:last-of-type{
  color: var(--grey-900);
}

.recurring-bills-summary-element.due-soon > p{
  color: var(--red);
}

.recurring-bills-transactions{
  padding: 32px;
  display: flex;
  flex-direction: column;
  flex: 7;
  border-radius: 12px;
  background-color: var(--white);
  gap: 24px;
}

.transactions-header{
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.transactions-searchbar-container{
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  border: 1px solid var(--beige-500);
  padding-right: 12px;
}

.transactions-searchbar{
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
}

.transactions-searchbar:focus{
  outline: none;
}

.transactions-sorts{
  display: flex;
  gap: 24px;
}


.sort-container{
  color: var(--grey-500);
  display: flex;
  align-items: center;
  gap: 8px;
}

.due-date>svg{
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.due-date{
  position: relative;
}

.due-date > p{
  color: var(--green);
}

/*budgets*/

.budgets-container{
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
;
}

.budgets{
  display: flex;
  gap: 24px;
}

.budgets-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.budgets-infographic-container{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background-color: var(--white);
  border-radius: 12px;
  width: 430px;
  align-self: flex-start;
}

.budgets-infographic-exterior{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-image: conic-gradient(
        var(--green) 0% 10%,
        var(--cyan) 10% 65%,
        var(--yellow) 65% 80%,
        var(--navy) 80% 100%
    );
}

.budgets-infographic-interior{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 187px;
  border-radius: 50%;
  opacity: 0.25;
  background-color: white;
  position: relative;
}

.budgets-infographic-text{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  opacity: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  gap: 6px;
} 

.budgets-summary-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: flex-start;
  width: 100%;
}

.budgets-summary{
  display: flex;
  flex-direction: column;

}

.budgets-summary > hr{
  margin-block: 16px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-100);
}

.budgets-summary-category{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color-bar{
  width: 4px;
  height: 100%;
  border-radius: 8px;
}

.budgets-summary-category-desc{
  display: flex;
  align-items: center;
  gap: 16px;
  height: 20px;
}

.budgets-summary-category-price{
  display: flex;
  align-items: center;
  gap: 8px;
}

.budgets-summary > hr:last-of-type{
  display: none;
}

.budgets-list{
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

/*Budget Card*/

.budget-card{
  padding: 32px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.budget-card-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-card-header-title{
  display: flex;
  align-items: center;
  gap: 16px;
}

.budget-card-header-title > p{
  color: var(--grey-900);
}

.budget-card-spending{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.budget-card-spending > p{
  color: var(--grey-500);
}

.budget-card-filler-bar-container{
  background-color: var(--beige-100);
  padding: 4px;
  border-radius: 4px;
  height: 32px;
  width: 100%;
}

.budget-card-filler-bar{
  border-radius: 4px;
  height: 100%;
}

.budget-card-numbers{
  display: flex;
  align-items: center;
  gap: 16px;
}

.budget-card-number{
  flex: 1;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 43px;
}

.budget-card-number-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.budget-card-number-text > p:first-of-type{
  color: var(--grey-500);
}

.budget-card-number-text > p:last-of-type{
  color: var(--grey-900);
}

.budget-card-latest{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: var(--beige-100);
  gap: 20px;
}

.budget-card-latest-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-card-latest-head > h2{
  color: var(--grey-900);
}

.see-all-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: var(--grey-500);
}

.see-all-btn > svg{
  width: 12px;
  height: 12px;
}

.budget-card-transactions-container{
  display: flex;
  flex-direction: column;
}

.budget-card-transaction-container:last-of-type > hr{
  display: none;
}

.budget-card-transaction-container{
  display: flex;
  flex-direction: column;
}

.budget-card-transaction-container > hr{
  border: none;
  border-top: 1px solid var(--grey-500);
  opacity: 0.15;
  margin-block: 12px;
}

.budget-card-transaction{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-card-transaction-name{
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-900);
}

.budget-card-transaction-name > img{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.budget-card-transaction-infos{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
}

/*Overview*/

.overview{
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.overview > h1{
  color: var(--grey-900);
  padding-block: 8px;
}

.overview-general{
  display: flex;
  gap: 24px;
  align-items: center;
 
}

.overview-general-box{
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--grey-900);
  background-color: white;
  border-radius: 12px;
  flex: 1;
}

.overview-content{
  display: flex;
  gap: 24px;
}

.overview-panel{
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.overview-pane{
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 12px;
}

.overview-pane-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overview-pane-header > h2{
  color: var(--grey-900);
}

.overview-pane-header > a{
  text-decoration: none;
  color: var(--grey-500);
  display: flex;
  align-items: center;
  gap: 12px;
  transition: color ease 0.3s;
}

.overview-pane-header > a:hover{
  cursor: pointer;
  color: var(--grey-900);
}

.overview-pots-content{
  display: flex;
  gap: 20px;
  align-items: center;
}

.overview-pots-total{
  display: flex;
  padding: 16px;
  border-radius: 12px;
  background-color: var(--beige-100);
  gap: 16px;
  align-items: center;
  height: 110px;
  min-width: 247px;
  flex: 1;
}

.oveview-pots-total > svg{
  width: 40px;
  height: 40px;
}

.overview-pots-total-text{
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.overview-pots-total-text > p:first-of-type{
  color: var(--grey-500)
}

.overview-pots-total-text> p:last-of-type{
  color: var(--grey-900);
}

.overview-pots-summary{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  flex: 3;
}

.overview-box{
  display: flex;
  gap: 16px;
  align-items: center;
}

.overview-box-text{
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 60px;
}

.overview-box-text > p:first-of-type{
  color: var(--grey-500)
}

.overview-box-text > p:last-of-type{
  color: var(--grey-900);
}

.overview-transactions-content{
  display: flex;
  flex-direction: column;
}

.overview-transactions-content > hr{
  margin-block: 20px;
  width: 100%;
  border: none;
  border-top: 1px solid var(--grey-100); 
}

.overview-transactions-content > hr:last-of-type{
  display: none;
}

.overview-transaction{
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.overview-transaction-user{
  display: flex;
  align-items: center;
  gap: 16px;
  color: var(--grey-900);
}

.overview-transaction-user > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.overview-transaction-billing{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.overview-transaction-billing > p:last-of-type{
  color: var(--grey-500);
}

.overview-budgets-content{
  display: flex;
  gap: 16px;
  align-items: center;
}

.overview-budgets-content > .budgets-infographic-container{
  padding: 0;
  flex: 1;
}

.overview-budgets-category{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overview-budgets-category > .overview-box{
  height: 43px;
}

.overview-bills{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.overview-bill{
  display: flex;
  justify-content: space-between;
  padding: 20px 16px;
  border-radius: 8px;
  background-color: var(--beige-100);
}

.overview-bill > p:first-of-type{
  color: var(--grey-500);
}

.overview-bill > p:last-of-type{
  color: var(--grey-900);
}

